:root {
  --blue: #007BFF;
  --orange: #FFA500;
  --ash: #B0B0B0;
}
.html{
  scroll-behavior: smooth;
}

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

.header {
  background-color: var(--blue);
  color: #fff;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .logo span {
  color: var(--orange);
}

.navbar a {
  color: #fff;
  margin: 0 10px;
  text-decoration: none;
}

.navbar a:hover {
  color: var(--orange);
}

.footer {
  background-color: var(--ash);
  color: #000;
  text-align: center;
  padding: 20px 10px;
}

.footer a {
  color: var(--blue);
  margin: 0 5px;
  text-decoration: none;
}

.footer a:hover {
  color: var(--orange);
}

.btn {
  background-color: var(--orange);
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
}

.btn:hover {
  background-color: var(--blue);
}

.heroMessage{

  display: flex;
  padding: 60px;
  gap: 2%;
}

.heroMotto{
  width: 50%;
}

.content{
  position: relative;
  left: 55%;
  top: 80%;
  color: white;
  font-size: 18px;
}

.head{
  font-size: 60px;
}

.home-slider{
  width: 100%;
  height: 800px;
}

.heroImage{
  width: 50%;
}

.welcome{
  text-align: center;
}

.apply{
  border: 1px solid black;
  width: 100%;
  height: 300px;
  border-radius: 9px;
}

.application{
  display: flex;
  justify-content: space-between;
  gap: 5%;
}

.GetInvolved{
  padding: 5%;
}

.students{
  background-color: black;
  border-radius: 8px 8px 0px 0px;
  color: white;
  height: 20%;
  display: flex;
  align-items: center;
  gap: 1%;
  padding: 0px 2%;
}